* {
  box-sizing: border-box;

}

body {
  background-color: gray;
  font-family: system-ui, sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  padding: 8px 16px;
}

p {
  margin: 0;
}

section {
  height: 460px;
  background-color: black;
  color: white;
  padding: 24px 72px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 0;
  font-size: 32px;
}

h2 {
  font-size: 16px;
  margin-bottom: 0;
}

input {
  height: 58px;
  width: 80%;
  max-width: 600px;
  border-radius: 29px;
  border: 0px;
  padding: 0 24px;
}

main {
  background-color: white;
  padding: 32px 72px;
}

nav button {
  background-color: #ea4c89;
  border-radius: 8px;
  padding: 10px 16px;
  border: 0;
  color: #ffffff;
  font-weight: 500;
}

.img-placeholder {
  width: 355px;
  height: 270px;
  background-color: gray;
  border-radius: 8px;
  
}

.card-footer {
  font-size: 14px;
}

.card-footer * {
  margin-top: 8px;
}

#subnav {
  padding: 32px 72px 0;
  background-color: white;
}

#subnav button {
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid black;
  background-color: white;
}

#trending p {
  background-color: white;
  color: black;
  border-radius: 50px;
  padding: 6px 15px;
}

#dest-nav{
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
}

#destinations {
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;

}

#destinations p {
    padding:0px 8px;
    color: black;
}

#actions {
    display: flex;
    justify-content: flex-end;
}

#actions p {
    padding : 0px 15px 
}

#searchInput {
  margin-top: 100px;
}


#subnav {
  display:table-row;
}

#hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#trending{
  display: flex;
  justify-content: space-around;
}

#trending p{
  margin-left: 10px;
}